/* styles.css */
header {
    background-color: #007BFF;  /* #3498db; Header background color */
    color: #fff; /* Header text color */
     /*  Center-align text */
    padding: 0 0; /* Add padding to the top and bottom */
}

header h1 {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */
    font-size: 30px; /* Adjust the font size */
    margin-left: 5px; /* Remove default margin to make it flush with the header */
}

header h2 {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */
    font-size: 25px; /* Adjust the font size */
    margin-left: 5px; /* Remove default margin to make it flush with the header */
}
header i {
    text-align: left;
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */
    font-size: 36px; /* Adjust the font size */
    color: #fff;
    margin-left: 10px; /* Remove default margin to make it flush with the header */
}
.dashboard-box {
    display: block;
    text-decoration: none;
    background-color: #007BFF; /*#3498db;*/
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Center icon and title vertically */
   
}

.dashboard-box .box-content {
    display: flex;
    align-items: center; /* Center icon and title horizontally */
}

.dashboard-box .icon {
    font-size: 30px; /* Adjust the icon size as needed */
    margin-right: 15px; /* Spacing between icon and title */
}

.dashboard-box:hover {
    background-color: #2980b9;
}

.dashboard-box h2 {
    margin: 0;
    font-size: 24px;
}

.dashboard-box p {
    margin: 10px 0;
    font-size: 16px;
}
#account_setting{
    padding: 20px;
}
.center-h4{
    text-align: center;
}
footer {
    text-align: center; /* Center-align text within the footer */
}

footer p {
    margin: 0; /* Remove default margin to center the text vertically if needed */
}