main {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

i{
    padding-top: 10px;
}
h1 {
    
    background-color: #3498db;
    color: white;
    padding: 10px;
}

table {
    
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #007BFF; /*#3498db;*/
    color: white;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:nth-child(odd) {
    background-color: #f5f5f5;
}