<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drop_down_menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/drop_down_menu.js') }}"></script>
</head>
<body>
    <header>
            <div>
                <i class="fas fa-bars" id="dropdown-btn">
                    <div class="dropdown">
                        <div class="dropdown-menu" id="dropdown-menu">
                            <ul>
                                <li><a style="text-decoration: none;" href="#">Account Settings</a></li>
                                <li><a style="text-decoration: none;" href="/auth/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </i>
            </div>
            <h1>Management<p>Dashboard</p></h1>
    </header>
    <!--nav>
        <ul>
            <li><a href="#registration">Registration</a></li>
            <li><a href="#view-tenants">View Tenants</a></li>
            <li><a href="#bill-records">Bill Records</a></li>
            <li><a href="#general-reports">General Reports</a></li>
        </ul>
    </nav-->
    <main>
        <a href="/registration" class="dashboard-box">
            <section id="registration">
                <div class="box-content">
                    <div class="icon"><i class="fas fa-user-plus"></i></div>
                    <h2>Registration</h2>
                </div>
                <!-- Registration form goes here -->
            </section>
        </a>
        <a href="/viewtenants" class="dashboard-box">
            <section id="view-tenants">
                <div class="box-content">
                    <div class="icon"><i class="fas fa-users"></i></div>
                    <h2>View Registered Tenants</h2>
                </div>
                <!-- Tenant list or search/filter options go here -->
            </section>
        </a>
        <a href="/billrecords" class="dashboard-box">
            <section id="bill-records">
                <div class="box-content">
                    <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
                    <h2>&nbsp Bill Records</h2>
                </div>
                <!-- Bill record display and filtering options go here encoding of billing if tentant pay then it will be here and house montly bill will be posted here like electricity water-->
            </section>
        </a>
        <a href="#general-reports" class="dashboard-box" data-toggle="modal" data-target="#statusmodal">
            <section id="general-reports">
                <div class="box-content">
                    <div class="icon"><i class="fas fa-chart-bar"></i></div>
                    <h2>General Reports</h2>
                </div>
                <!-- Charts or tables displaying reports go here we will display here who is paid on due date etc -->
            </section>
        </a>
    </main>
    <!-- Modal -->
<div class="modal fade" id="statusmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NOTE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This function will be implemented soon, just stay tune! Thank you!
        </div>
        <div class="modal-footer">
          <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button-->
          <button type="button" class="btn btn-primary" data-dismiss="modal">&emsp13;Ok&emsp13;</button>
        </div>
      </div>
    </div>
  </div>
    <footer>
        <p style="font-size: 15px;">REMAN - Rental Management</p>
        <p>&copy; 2023 Ehexibit - All rights reserved </p>
    </footer>
</body>
</html>
